@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&display=swap');

:root {
  --main-bg-color: #fafafa;
  --second-color: #696969;
  --third-color: #141414;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
}

body {

  background: url(../images/logo-rolling-background.png) round;
  background-size: 32px 32px;
}

/* navbar movile */
.color-todo-list{
  color: #726ce7;
}
.color-calendar{
  color: #45b2d9;
}
.color-reminders{
  color:#f2d653
}
.color-planning{
  color: #8952ba;
}
.btn-outline-success{
  border: 1px solid var(--second-color);

  background: url(../images/logo-rolling-background-2.png) repeat;
  background-size: 250px auto;
}

footer {
  background-color: var(--main-bg-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}

footer h4 {
  color: var(--second-color);
}

@media screen and (max-width: 576px) { 
  footer {
    height: 250px;
  }
  footer .container {
    flex-direction: column;
    margin-bottom: 40px;
  }
  footer img {
    margin: 8px auto;
  }
}